:root {
  --bottom-card-info: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf7f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 80%;
}

.schedule-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  max-height: 90vh;
  overflow-y: scroll;
  top: 50px;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
}

.card {
  width: 300px;
  height: 450px;
  background-color: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}

.card:hover .card-info {
  display: block;
  padding: 5px;
  background-color: #eeedeb;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #d8d2c2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.card:hover {
  scale: 1.05;
  cursor: pointer;
}

.card-info {
  width: 100%;
  background-color: #eeedeb;
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease;
}

.overview,
.genre {
  font-size: 14px;
  color: #333;
  margin: 7px 0;
}

.genre-button {
  background-color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.genre-button:hover {
  background-color: #333;
  color: #fff;
  scale: 1.05;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  padding: 20px;
}

.genre-select {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  max-width: 200px;
  min-width: 100px;
  margin: 10px;
  background-color: #d4c9be;
}

.genre-select option {
  padding: 10px;
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.search-input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  margin: 0 10px;
  background-color: #d4c9be;
  min-width: 200px;
  max-width: 400px;
  font-size: large;
}

.genres-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media (max-width: 768px) {
  .cards-container {
    width: 100%;
    justify-content: center;
  }

  header,
  .search-container {
    padding: 5px;
  }

  .search-input {
    width: 100%;
  }

  .genre-select {
    width: 100%;
    max-width: 100%;
  }

  header h1 {
    min-width: 100px;
    text-align: center;
  }

  .schedule-container {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
  }

  .card {
    width: 90%;
    height: auto;
    max-height: max-content;
    margin: auto;
  }

  .search-container {
    width: 100%;
    padding: 10px;
  }

  .search-input {
    width: 100%;
    margin-right: 0;
    margin: 10px 0;
  }
}
